@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #F55353;
  color: white;
  padding: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search-bar {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#food-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
}

.food-item {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 1em;
  width: 48%; /* Adjust the width to leave some space between items */
  margin-bottom: 16px;
  text-align: center;
}

#shopping-cart {
  background-color: #F55353;
  color: black;
  padding: 1em;
  position: fixed;
  bottom: 0;
  right: 0;
}

#bottom-menu{
  width: 100%;
  /* background-color: #F55353; */
  overflow: auto;
  color: white;
  position: sticky;
  bottom: 0;
}

.pageSelection{
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  /* width: 33.33%;  */
  text-align: center; 
}

.profile-section{
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
}

.profile-button-section{
  border-bottom-width: 3px;
  border-bottom-color: lightgray;
}

.profile-button-section button{
  width: 33.33%;
  padding: 10px;
}

.profile-subsection{
  display: flex;
  flex-direction: column;
}

.profile-subsection #language-selection{
  padding: 15px;
}

.profile-subsection button {
  text-align: left;
  width:100%;
  padding:15px;
  white-space: normal;
  border-width: 2px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-color: lightgray;
}

.donation-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.donation-item {
  width: calc(50% - 5px); 
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px; 
}

.donation-item div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.donation-item button, .donation-item span {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#paymentButton{
  float: right;
  margin: 15px;
  margin-top: 0;
  padding: 8px;
  border-radius: 10px;
  border-width: 2px;
  background-color: #F55353;
  color: white;
}